{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Onecall Test</span></h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>
                <a href="/form">
                    <i class="fa fa-edit"></i> Enter Customer Details
                </a>
            </h5>
        </div>

        <div class="col-md-6">
            <h5>
                <a href="/totals">
                    <i class="fa fa-eye"></i> View todays totals
                </a>
            </h5>
        </div>
    </div>
{% endblock %}
